<h1><%= @list.name() %></h1>

<h3>To-do:</h3>
<% if @list.tasks().any?()%>

  <% @list.tasks().each do |task| %>
  <ul>
    <li> <%= task.description() %> <%= task.due_date() %></li>
  </ul>
  <% end %>


<% else %>

  <p>There are no tasks on this list!</p>

<% end %>

<p>Add a task</p>

<form action="/lists/<%= @list.id %>/new" method="post">
  <label for="description">Describe Task:</label>
  <input id="description" name="description" type="text">

  <label for="due_date">Give it a due date:</label>
  <input id="due_date" name="due_date" type="text">
  <button type="submit" class="btn-default">Add the task!</button>
</form>


<form action="/lists/<%= @list.id %>" method='post'>
  <input name='_method' type='hidden' value='patch'>
  <label for="name">Change list name</label>
  <input id="name" name="name" type="text">

  <button type='submit' class="btn-default">Rename</button>
</form>


<form action='/lists/<%= @list.id() %>' method='post'>
  <input type="hidden" name='_method' value='delete'>
  <button type='submit' class="btn-default">Delete list</button>
</form>

<br>
<a href="/"><button class="btn">Home</a>
